@import 'colors';
@import 'variables';

* {
    @include reset;
}

body {
    background: $black;
}

.wrapper {
    font-family: $font;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;

    .header {
        width: $max;
        height: 70px;
        background: $darkGray;
        display: flex;
        justify-content: space-around;
        align-items: center;

        img {
            height: 50px;
        }

        select {
            height: 20px;
        }
    }

    .container {
        width: 1000px;
        height: calc(100% - 70px);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 50px 0;

        .error {
            color: $white;
        }
        
            
        .box {
            flex-basis: 200px;
            background: $darkGray;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 10px 20px;
            padding: 20px;
            max-height: 360px;

            img {
                max-width: $max;
                margin-top: 10px;
            }

            .title {
                font-size: 22px;
                margin: 20px 0;
                text-transform: uppercase;
                text-align: center;
                color: $white;
            }

            .author {
                color: $gray;
                font-size: 20px;
            }

            .year {
                color: $gray;
            }
        }
    }
}